# SPDX-FileCopyrightText: 2023 DB Systel GmbH
#
# SPDX-License-Identifier: Apache-2.0

name: Test suites

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  # Test using the tool via poetry on different OSes and python versions
  test-os-python-matrix:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 10
      # do not abort the whole test job if one combination in the matrix fails
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        os: [ubuntu-24.04]
        include:
          - python-version: "3.10"
            os: macos-latest
          - python-version: "3.10"
            os: windows-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/poetrybuild
        with:
          python: ${{ matrix.python-version }}
          poetry_args: --only main
      - name: Execute todo-merger
        run: poetry run todo-merger --help


  # Test building the package and installing it via pip3
  test-build-install:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.14"
      - name: Install poetry
        run: pip install poetry
      - name: Build package
        run: poetry build
      - name: Install package
        run: pip3 install dist/todo_merger-*.tar.gz
      - name: Run package
        run: |
          todo-merger --version
          todo-merger --help

  # Formatting
  pylint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/poetrybuild
      - name: Lint with pylint
        run: poetry run pylint --disable=fixme todo_merger/

  formatting:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/poetrybuild
      - name: Test formatting with isort and black
        run: |
          poetry run isort --check todo_merger/
          poetry run black --check .

  mypy:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/poetrybuild
      - name: Test typing with mypy
        run: poetry run mypy
